<h1>Various types of data that you can expose with `express-state`</h1>

<ul id="toc">
    <li>
        <a href="/chart/">An object with data to build a chart on the client</a>
        <p>
            This example uses <code>express-state</code> to expose some chart data from the server to the client under <code>Example.Data</code>. This data is picked up by <code>d3.js</code> and used to generate a chart.
        </p>
    </li>

    <li>
        <a href="/config/">Configuration data used across server and client</a>
        <p>
            This example uses <code>express-state</code> to expose a configuration object under <code>Example.Config</code>. The object contains our Flickr API key which we use to get images from Flickr.
        </p>
    </li>
</ul>
